
.container{
	margin-bottom: 400px;
}

@media only screen and (max-width:700px){
	.container{
	margin-bottom: 20px;
}
}

.cartItem{
	display: inline-block;
    width: 100%;
    margin-bottom: 60px;
}

@media only screen and (max-width:700px){
	.cartItem{
	margin-bottom: 20px;
}
}

.cartItem .cartArtist{
	font-size: 22px;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

@media only screen and (max-width:700px){
	.cartItem .cartArtist{
		font-size: 16px;
	}
}


.cartItem .cartArtwork{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.cartArtwork ul{
	width: 100%;
	list-style:none;
} 

.cartArtwork ul li{
	float: left;
	height: 160px;
	margin-right: 20px;
}

.cartItem .cartArtwork1{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.cartArtwork1 ul{
	width: 100%;
	list-style:none;
} 

.cartArtwork1 ul li{
	float: left;
	height: 60px;
	margin-right: 20px;
}

@media only screen and (max-width:700px) {
	.cartArtwork ul li{
	float: left;
	height: 80px;
	margin-right: 10px;
   }
}

@media only screen and (max-width:700px) {
	.cartArtwork1 ul li{
	float: left;
	height: 80px;
	margin-right: 10px;
   }
}

.cartArtwork #radioBox{
	width: 10%;
}


@media only screen and (max-width:700px){
	.cartArtwork #radioBox{
	width: 10px;
}
}

@media only screen and (max-width:700px){
	.cartArtwork1 #radioBox{
	width: 10px;
}
}

.cartArtwork1 #radioBox{
	width: 10%;
}


.cartArtwork li img{
	width: 160px;
}

@media only screen and (max-width:700px) {
	.cartArtwork li img{
	width: 80px;
}
}


.cartArtwork #artistName{
	width: calc(70% - 400px);
}

@media only screen and (max-width:700px) {
	.cartArtwork #artistName{
	width: calc(90% - 245px);
}
}

.cartArtwork #artistName p{
	text-align:center;
}

@media only screen and (max-width:700px) {
	.cartArtwork #artistName p{
	font-size: 12px;
}
}

.cartArtwork #artworkPrice{
	width: 10%;
}

.cartArtwork #artworkPrice p{
	text-align:center;
}

@media only screen and (max-width:700px) {
	.cartArtwork #artworkPrice p{
	font-size: 12px;
}
}


.cartArtwork #artworkNumber input{
	width: 60px;
	height: 25px;
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 4px;
}

.cartArtwork #artworkNumber a {
    width: 20px;
    height: 20px;
    color: #555;
    border: 1px solid #ccc;
    margin-left: 0;
	margin-right: 0;
}

.cartArtwork #artworkNumber a:hover {
    border-color: red;
}

@media only screen and (max-width:700px){
	.cartArtwork #artworkNumber input{
	width: 25px;
	height: 25px;
	margin-bottom: 4px;
}
}

@media only screen and (max-width:700px){
	.cartArtwork #artworkNumber a{
	width: 20px;
	height: 20px;
}
}

.cartArtwork #artworkNumber label{
	width: 60px;
}

@media only screen and (max-width:700px){
	.cartArtwork #artworkNumber label{
	width: 40px;
}
}

.cartArtwork #artworkEdit{
	width: 10%;
	text-align:center;
}

@media only screen and (max-width:700px){
	.cartArtwork #artworkEdit{
    width: 25px;
	font-size: 12px;
}
}

input.button {
    font-family: "Graphik Web SemiBold", Helvetica, Arial;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .2s ease-in 0s;
    -moz-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 12px 30px 10px;
    display: inline-block;
    background: #2b4367;
    -moz-box-shadow: 0 4px 0 0 #485c7a;
    -webkit-box-shadow: 0 4px 0 0 #485c7a;
    box-shadow: 0 4px 0 0 #485c7a;
    width: auto;
    float: right;
    border-bottom: 0;
    margin: 0 0 0 30px
}

input.button:hover {
    background: #485c7a;
    -moz-box-shadow: 0 4px 0 0 #485c7a;
    -webkit-box-shadow: 0 4px 0 0 #485c7a;
    box-shadow: 0 4px 0 0 #485c7a
}

@media only screen and (max-width:700px){
	#artworkTotal {
		width: 20%;
		text-align: left;
	}
}

.cartArtwork1 #artworkTotal{
	width: 10%;
}


.cartArtwork1 #artworkTotalMoney{
	width: 40%;
}

@media only screen and (max-width:700px){
	.cartArtwork1 #artworkTotal{
	width: 20%;
}
}


@media only screen and (max-width:700px){
	.cartArtwork1 #artworkTotal p{
	font-size: 12px;
}
}

@media only screen and (max-width:700px){
	.cartArtwork1 #artworkTotalMoney{
	width: calc(50%-20px);
}
}

.cartArtwork1 #artworkEditButton{
	width: 30%;
}


@media only screen and (max-width:700px){
	.cartArtwork1 #artworkTotalMoney {
		width: 20%;
	}
}

@media only screen and (max-width:700px){
	#artworkTotalMoney {
		width: 20%;
	}
}

@media only screen and (max-width:700px){
	#artworkTotalMoney p{
		font-size: 12px;
		text-align: left;
	}
}

@media only screen and (max-width:700px){
	input.button  {
		width: 100%;
		font-size: 12px;		
	}
}



