.news
{
    width: 86%;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 60px;
}

@media only screen and (max-width:700px) {
	.news
    {
    	float: left;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.daohang
{
    margin-top: 80px;
    margin-bottom: 60px;
}

.daohang .text-of-news{
    font-size: 20px;
    font-weight: 80;
    margin-left: 10px;
    float: left;
}

.daohang .kind-of-news{
	font-size: 16px;
	float: right;
	margin-right: 7%;
	border: 1px;	
}



.daohang .kind-of-news ul{
	list-style:none;
}


.daohang .kind-of-news li{
	float: left;
	margin-right: 5px;
	background-color: #f3f3ec;
	border: 1px;
	box-shadow: 1px 4px 3px #b0b0b0;
	width: 60px;
}

.daohang .kind-of-news li a:hover {
	color:#b0b0b0;
}

.daohang .kind-of-news li.active-li
{
	background-color: #24324b;
	color:  #ffffff;
	font-weight: bolder;
	box-shadow: 1px 4px 3px #b0b0b0;
}

@media only screen and (max-width:700px) {
	.daohang{
        width: 100%;
        float: left;
        margin-top: 40px;
        margin-bottom: 20px;
	}
}

@media only screen and (max-width:700px) {
	.daohang .kind-of-news{
        width: 100%;
        float: left;
	}
}


@media only screen and (max-width:700px) {
	.daohang .kind-of-news li{
		font-size: 16px;
		width: 70px;
        float: left;
        margin-left: 0;
        box-shadow: 0px 0px 0px #b0b0b0;
	}
}

@media only screen and (max-width:700px) {
	.daohang .kind-of-news li.active-li
    {
	background-color: #24324b;
	color:  #ffffff;
	font-weight: bolder;
	box-shadow: 0px 0px 0px #b0b0b0;
    }
}



@media only screen and (max-width:700px) {
	.daohang .text-of-news{
	width: 100%;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
   }
}



.newsblock{
	background-color: #f3f3ec;
	width: 100%;
	height: 200px;
	display: inline-block;
	/*margin-top: 10px;
	margin-bottom: 10px;*/
	position:relative;
	border-color: #ffffff;
	border:0.1px;
	margin: 0;
}

@media only screen and (max-width:700px) {
	.newsblock{
		height: 120px;
		/*margin-bottom: 1px;*/
	}
}

.newsblock .thumb{
	float: left;
	width: cal(30%-20px);
	height: cal(100%-20px);
	margin: 10px;
}

.newsblock .thumb img{
	float: left;
	width: 300px;
	height: 160px;
	margin: 10px;
}

@media only screen and (max-width:700px){
	.newsblock .thumb img{
	float: left;
	width: 140px;
	height: 90px;
	margin: 10px;
  }
}

@media only screen and (max-width:480px){
	.newsblock .thumb img{
	float: left;
	width: 120px;
	height: 90px;
	margin-top: 1px;
	margin-bottom: 1px;
  }
}

@media only screen and (max-width:600px){
	.newsblock{
		width: 100%;
		margin-top: 5px;
	}
}



.newsblock .text{
	width: cal(60%-20px);
	height: 100%;
	float: left;
	margin: 10px;
	vertical-align: left;
	
}

.newsblock .text h4{
	font-size: 16px;
	margin: 0;
}

.newsblock .text h3{
	font-size: 14px;
	margin: 0;
}

.newsblock .text p{
	font-size: 14px;
	margin: 0;
}



@media only screen and (max-width:700px) {
    .newsblock .text h4{
	font-size: 14px;
	margin: 0;
}
}

@media only screen and (max-width:700px) {
    .newsblock .text h3 {
	font-size: 12px;
	margin: 0;
}
}

@media only screen and (max-width:700px) {
    .newsblock .text p {
	font-size: 12px;
	margin: 0;
}
}

/*==================================================*/
.container{
    height: 430px;
    margin-bottom: 100px;
}

.unslider {
    overflow: auto;
    height:350px;
    position: relative;
}

@media only screen and (max-width:700px) {
	.container {
    height:300px;
}}


@media only screen and (max-width:700px) {
	.unslider {
    height:260px;
}
}

.unslider-wrap {
    position: relative
}

.unslider-wrap.unslider-carousel li {
    float: left
}

.unslider-vertical > ul {
    height: 100%
}

.unslider-vertical li {
    float: none;
    width: 100%
}

.unslider-fade {
    position: relative
}

.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8
}

.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10
}

.unslider li {
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    border: none
}

.unslider-arrow {
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer
}

.unslider-arrow.next {
    left: auto;
    right: 20px
}

    

	.demo img {
		width: 100%;
		height: 350px;
	}


	@media only screen and (max-width:700px) {
	    .demo img {
		width: 100%;
		height: 300px;
		
	    }
    }

    @media only screen and (max-width:400px) {
	    .demo img {
		width: 100%;
		height: 270px;
	    }
    }

	.demo .fading-slider {
		height: 350px;
	}

	.demo .wrap {
		width: 640px;
	}

	.demo pre {
		color: rgba(255,255,255,.75);
		line-height: 24px;
	}

		.demo pre .hilite {
			display: block;
			white-space: pre-line;
			padding: 0 0 0 0;

			font-weight: bold;
			line-height: 24px;
			color: #fff;
		}

	.demo .unslider {
		overflow: visible;
	}

	.demo .unslider-arrow {
		display: block;
		width: 0;
		height: 0;

		top: 50%;
		right: -50px;
		left: auto;
		margin-top: -16px;

		overflow: hidden;

		background: rgba(0,0,0,.2) no-repeat 50% 50%;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
		background-size: 7px 11px;

		border-radius: 32px;
		text-indent: -999em;

		opacity: .6;
		transition: opacity .2s;
	}

		.demo .unslider-arrow:hover {
			opacity: 1;
		}

		.demo .unslider-arrow.prev {
			left: -50px;
			right: auto;
			-ms-transform: rotate(-180deg);
			transform: rotate(-180deg);
		}

	.demo > div {
		position: relative;
		padding: 0;
		margin-bottom: 50px;
		background: #fff;
		color: #666;
		text-align: center;
		text-shadow: none;
		box-shadow: 0 4px 6px #ffffff;
	}

	@media only screen and (max-width:400px) {
		.demo > div {
		position: relative;
		padding: 0 0 0 0;
		margin:0;
		background: #fff;
		color: #666;
		text-align: center;
		text-shadow: none;
		box-shadow: 0 0 6px #ffffff;
	    }
	}

	
	.demo.vertical-slider-wrapper > div {
			padding: 0;
		}
		
	.demo.vertical-slider-wrapper ul li {
			padding: 40px;
		}
	
	.demo .unslider-nav ol {
		list-style: none;
		text-align: center;
	}
		
		.demo .unslider-nav ol li{
			display: inline-block;
			float: none;
			width: 6px;
			height: 6px;
			margin: 0 4px;
			padding: 3px;

			background: transparent;
			border-radius: 5px;
			overflow: hidden;
			text-indent: -999em;
			border: 2px solid #24324b;
			cursor: pointer;

			opacity: .4;
		}

		.demo .unslider-nav ol li.unslider-active
		{
			background: #24324b;
			cursor: default;
			opacity: 1;
		}
